body {
  font-family: "Rubik", sans-serif;
}

.search-by-dates,
.hpGXPj {
  font-family: "Manrope", sans-serif;
  font-size: medium;
}
.login-message {
  color: red;
}

/* CSS for mobile devices */
@media (max-width: 768px) {
  .date-range-container,
  .search-container {
    margin-bottom: 1rem;
  }

  .date-range-container {
    background-color: #f2f2f2;
    border-radius: 4px;
    padding: 0.5rem;
  }

  .search-by-dates,
  .sc-imWYAI {
    width: 100%;
    padding: 0.5rem;
    border: none;
    background-color: transparent;
    font-size: 16px;
    color: #333;
    outline: none;
    cursor: pointer; /* Ajout de la propriété cursor */
  }

  .search-by-dates::placeholder,
  .sc-imWYAI input::placeholder {
    color: #999;
  }

  .search-by-dates:focus,
  .sc-imWYAI input:focus {
    outline: none;
    box-shadow: none;
  }

  .date-range-container:hover {
    box-shadow: 0 0 6px 3px rgba(76, 76, 76, 0.3);
  }

  .search-by-dates {
    padding-left: 50px;
  }
  .date-range-container {
    position: relative;
    z-index: 1;
  }
  .fa-magnifying-glass {
    position: absolute;
    top: 50%;
    left: 26px;
    transform: translateY(-50%);
    font-size: 13px;
    color: #999;
  }
  .search-container {
    position: relative;

    z-index: 2;
  }
  .header-upper {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
  }
  .header-icons {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 24px; /* Augmenter la taille des icônes */
    margin-right: 10px;
    justify-content: flex-end;
    margin-left: auto;
  }
  .header-icons-container {
    width: 0; /* Ajustez la largeur selon vos besoins */
  }

  .header-icons > * {
    height: 32px; /* Ajuster la hauteur des icônes */
    width: 32px; /* Ajuster la largeur des icônes */
  }
  .header-icons > *:hover {
    opacity: 0.8; /* Rend les icônes moins opaques lors du survol */
    cursor: pointer;
  }
  .logo-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .center-logo {
    text-align: center;
  }

  .header-logo {
    width: 200px;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  .event-image {
    width: 100%;
    height: auto;
    max-height: 400px;
    object-fit: cover;
  }

  .event-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
  }
  .event-image-container:hover {
    cursor: pointer;
  }

  .event-image-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .event-image-container:hover::before {
    opacity: 1;
  }

  .promoted-by-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .promoted-by-container p {
    margin-right: 0.5rem;
  }
  .img-avatar {
    width: 50px; /* Ajustez la taille en fonction de vos préférences */
    height: 50px; /* Ajustez la taille en fonction de vos préférences */
    border-radius: 50%; /* Pour rendre l'image arrondie */
    overflow: hidden; /* Pour masquer toute partie de l'image qui dépasse la taille définie */
    object-fit: cover;
  }
  .event {
    text-align: center;
  }

  .event p {
    text-align: center;
    font-size: 24px; /* Modifier la taille de la police selon vos préférences */
    text-transform: uppercase; /* Mettre le texte en lettres capitales */
    margin-bottom: 10px; /* Ajouter de l'espace en bas du titre */
  }
  .event p:last-child {
    margin-bottom: 0;
  }
  .event .event-date {
    font-size: 15px; /* Modifier la taille de la date */
  }
  .event .promoted-by {
    font-size: 12px; /* Modifier la taille de "Promoted by" */
  }
  .eventid-image {
    display: block; /* Permet de centrer l'image horizontalement */
    margin: 0 auto; /* Centre l'image horizontalement en utilisant les marges automatiques */
    max-width: 400px; /* Empêche l'image de dépasser sa largeur maximale */
    height: auto; /* Permet à l'image de conserver son ratio d'aspect */
    margin-right: 20px;
    width: 100%;
    object-fit: cover;
  }
  .eventid-container {
    display: flex; /* Utilise la mise en page flexible */
    align-items: center; /* Centre les éléments verticalement */
    flex-direction: column;
    text-align: center;
    margin-bottom: 20px;
  }
  .title-container {
    margin-bottom: 20px;
  }

  .image-details-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 20px;
  }

  .title-container {
    margin-bottom: 30px;
  }
  .event-title {
    font-size: 18px;
    font-weight: bold;
  }
  .avatarevent {
    width: 100px; /* Ajustez la taille de l'image selon vos préférences */
    height: 100px; /* Ajustez la taille de l'image selon vos préférences */
    border-radius: 50%; /* Rend l'image ronde */
    object-fit: cover; /* Assurez-vous que l'image remplit complètement le cercle */
    margin-right: 10px;
  }
  .details-container {
    display: flex; /* Utilise la mise en page flexible */
    flex-direction: column; /* Affiche les éléments en colonne */
    align-items: flex-start; /* Aligne les éléments à gauche */
    margin-top: 10px;
  }
  .details-container > div,
  .details-container > div > div {
    margin-bottom: 10px;
  }

  .promoted-by-containerid {
    display: flex;
    align-items: flex-start;
    margin-top: 50px;
  }
  .ticket-icon {
    font-size: 50px; /* Modifier la taille de l'icône selon vos préférences */
    color: black; /* Couleur de l'icône par défaut */
    cursor: pointer; /* Changer le curseur au survol */
  }

  .icon-container {
    margin-left: 10px;
  }

  .ticket-icon:hover {
    color: red; /* Couleur de l'icône au survol */
  }
  .reservation-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .reservation-icon-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .login-message {
    grid-column: 1;
  }

  .reservation-container p {
    font-weight: bold;
  }
  .reservation-button {
    margin-right: 10px;
  }
}
